<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inria+Sans%3A400%2C700" />
    <style>
        /* Custom Styles */
        .input-container input::placeholder {
            color: lightgray;
            font-family: 'Inria Sans', sans-serif;
            /* Apply the Google Font to the placeholder */
        }

        .text {
            color: rgb(112, 112, 112);
            /* Set the default color */
            font-family: 'Inria Sans', sans-serif;
            /* Apply the Google Font to the text */
        }

        .text-highlight {
            color: #6badeb;
            /* Set the highlighted color */
            font-family: 'Inria Sans', sans-serif;
            /* Apply the Google Font to the highlighted text */
        }

        .signup-link {
            text-decoration: underline;
            color: #6badeb;
            /* Set the color for the underlined link */
            font-family: 'Inria Sans', sans-serif;
            /* Apply the Google Font to the link */
        }

        .gethelp-link {
            text-decoration: underline;
            color: #6badeb;
            /* Set the color for the underlined link */
            font-family: 'Inria Sans', sans-serif;
            /* Apply the Google Font to the link */
        }
    </style>
</head>

<body style="background-color: #c2b96c85;"> <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand "style="margin-left: 10px;">
            <img src="/img/company_logo.png" alt="Your Logo" height="50">
        </a>
    </nav>

    <!-- Box at the Center -->
    <div class="container d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 4em);">
        <div class="box d-flex flex-column align-items-center justify-content-center"
            style="background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); min-height: 24.4rem;">
            <% if(typeof message !=='undefined' && message !==null) { %>
                <div class="alert alert-danger text-center rounded-0 mt-1 mb-1 ms-2 me-2 fs-6">
                    <%= message %>
                </div>
                <% } %>
                    <h2 class="fs-4 mt-2 mb-2">ADMIN LOGIN</h2>
                    <!-- Input Fields in a Div with Reduced Width -->
                    <form action="/admin/admin_login" method="POST" class="pt-3">
                        <div class="input-container ms-4 me-4">
                            <input type="text" class="form-control mb-2 rounded-0" placeholder="USERNAME"
                                oninput="dontAllowSpace(this)" style="font-size: 75%;" name="username">
                            <input type="password" class="form-control mb-4 rounded-0" placeholder="PASSWORD"
                                oninput="dontAllowSpace(this)" style="font-size: 75%;" name="password">
                            <!-- Additional Sentences -->
                            <p class="text-left text mt-2" style="font-size: 75%;">By continuing I agree to the
                                <span class="text-highlight">Terms of Use & Privacy Policy</span>
                            </p>
                            <!-- Submit Button -->
                            <button class="btn btn-primary w-100 rounded-0"
                                style="background-color: #C2B96C;">LOGIN</button>
                            <p class="text-left text mt-2" style="font-size: 75%;">Have trouble logging in? <a href="#" class="gethelp-link">Get help</a></p>
                        </div>
                    </form>
                    <script>
                        function dontAllowSpace(input) {
                            // Remove non-digit characters from the input
                            input.value = input.value.trim();
                        }
                    </script>
        </div>
    </div>

    <!-- Bootstrap JS (optional, for certain features like the responsive navbar toggle) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>