<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">
      <img src="/img/company_logo.png" alt="Your Logo" height="50">
  </a>

  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
          <% if(title === "CART") {%>
            <li class="nav-item">
              <span style="color: #6badeb;">
                BAG
              </span>
              <span>
                ----------
              </span>
              <span>
                ADDRESS & PAYMENT
              </span>
            </li>
          <% } else if(title === "ORDER SUMMERY") {%>
            <li class="nav-item">
              <span>
                BAG
              </span>
              <span>
                ----------
              </span>
              <span style="color: #6badeb;">
                ADDRESS & PAYMENT
              </span>
            </li>
            <% } %>
      </ul>
  </div>
</nav>